<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/footer.css}">    
    
</head>
<body>
    <footer class="footer">        
        <div class="footArea">
            <div class="tInfo">
                <ul class="info">
                    <li>아이티윌0410</li>
                    <li>팀장: 김용훈</li>
                    <li>팀원: 김지훈, 서범수, 이존규, 장민석, 추지훈</li>
                    <li>TEAM SBS</li>
                </ul>
           </div>
            <div class="tLogo">
                <a href=""><img src="/img/logo/sbs.png" alt="teamSBS" class="tLogo"></a>
            </div>
        </div>
    </footer>
</body>
</html>