<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ /layout/basic-layout }">
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/storeDetail.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
		rel="stylesheet">
</th:block>
<title>Wacdonald</title>
<div layout:fragment="content">
	<div class="frontFont">
		<h1>매장 정보 상세 페이지</h1>
	</div>
		<div id="formDetailStore">
			<div class="Container">
				<div>
					<div class="div_label">
						<label for="storeName">매장 이름</label>
					</div>
					<br/>
					<input class="inputs" id="storeName" type="text" th:value="${ store.storeName }" readonly/>
				</div>
				<br/>
				<div>
					<div class="div_label">
						<label for="storeAddress">주소</label>
					</div>
					<br/>
					<input class="inputs" id="storeAddress" type="text" th:value="${ store.storeAddress }" readonly/>
				</div>
				<br/>
				<div>
					<div class="div_label">
						<label for="storePhone">매장 전화번호</label>
					</div>
					<br/>
					<input class="inputs" id="storePhone" type="text" th:value="${ store.storePhone }" readonly/>
				</div>
				<br/>
				<div>
					<div class="div_label">
						<label for="content">영업시간</label>
					</div>
					<br/>
					<input class="inputs" id="storeTime" type="text" th:value="${ store.storeTime }"readonly/>
				</div>
				<br/>
				<div>
					<div class="div_label">
						<label for="image">이용가능 서비스</label>
					</div>
					<br/>
					<input class="inputs" id="drinkExplain" type="text" th:value="${ store.drinkExplain}" readonly/>
				</div>
				<br/>
			<div>
				<input class="buttons" id="btnCreate" value="수정"/>
			</div>
		</div>
		<div>
	</div>
	</div>
</div>
<th:block layout:fragment="script">
</th:block>
</html>