<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{ /layout/basic-layout }">
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/store.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
		rel="stylesheet">
	 <!-- Bootstrap icons-->
	<link 
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
        rel="stylesheet" type="text/css" />
</th:block>
<div layout:fragment="content">
	<div class=storebanner>
		<div class="inner">
			<h1 class=storeFont>매장찾기</h1>
			<ul class=navPath>
				<li><a href="/">Home</a></li>
				<li><a href="">Store</a></li>
				<li><a href="">매장찾기</a></li>
			</ul>
		</div>
	</div>
	<div class="frontFont">
		<h1>Wacdonald 매장 안내</h1>
	</div>
	<div class ="storeContainer">
		<div id="map"></div>
		<br/><br/>
		<button type="button" id="getMyPositionBtn" onclick="getCurrentPosBtn()">내 위치 중심으로 보기</button>
	</div>
	<div class="storeContainer2">
		<div class="storePlace">
		<table class="storeTable">
		</table>
		</div>
		<div>
			<ul id="storeTableNav"></ul>
		</div>
		<br/><br/><br/>
		<button class="storeCreate" onclick="location.href='/storeCreate'">매장 등록</button>
	</div>
</div>s
<th:block layout:fragment="script">
	<!-- Jquery JS-->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<!-- Ajax axios JS-->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<!-- Bootstrap core JS-->
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- kakao -->
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=abaecbd1f25256beda80cb6e2837cf2b&libraries=services"></script>
	<script th:src="@{/script/store.js}"></script>
</th:block>
</html>