<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{ /layout/basic-layout }">
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/store.css}">
</th:block>
<div layout:fragment="content">
	<div class=storebanner>
		<div class="inner">
			<h1 class=storeFont>매장찾기</h1>
			<ul class=navPath>
				<li><a href="">Home</a></li>
				<li><a href="">Store</a></li>
				<li><a href="">매장찾기</a></li>
			</ul>
		</div>
	</div>
	<div class="storeContainer">
		<div id="map"></div>
	</div>
</div>
<th:block layout:fragment="script">
	<!-- kakao -->
	<script type="text/javascript"
	     	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=abaecbd1f25256beda80cb6e2837cf2b&libraries=services"></script>
	<script th:src="@{/script/store.js}"></script>
</th:block>
</html>