<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ /layout/basic-layout }">
<title>Wacdonaldo</title>


<div layout:fragment="content">

    <div>
        <div class="postCreate_head">
            <h1>마이 페이지</h1>
        </div>

        <form id="formCreatePost" method="post"
            enctype="multipart/form-data">
            <div class="postCreate_panel">
                <div>
                    <div class="div_label">
                        <label for="title">글 제목</label>
                    </div>
                    <input class="inputs" id="title" type="text" name="title" autofocus />
                </div>
                <div>
                    <div class="div_label">
                        <label for="kind">분류</label>
                    </div>
                    <input class="inputs" id="kind" type="text" name="kind" />
                </div>
                <div>
                    <div class="div_label">
                        <label for="author">작성자</label>
                    </div>
                    <input class="inputs" id="author" type="text" name="author" />
                </div>
                <div>
                    <div class="div_label">
                        <label for="content">내용</label>
                    </div>
                    <textarea class="inputs" id="content" name="content"></textarea>
                </div>
                <div>
                    <div class="div_label">
                        <label for="image">포스터 이미지</label>
                    </div>
                    <input class="inputs" type="file" id="image" name="image" />
                </div>
                <div class="btn">
                    <button type="button" id="btnSubmit">생성하기</button>
                </div>
            </div>
        </form>
    </div>



</div>


<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/post.css}">
</th:block>
<th:block layout:fragment="script">
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{ /script/postCreate.js }"></script>
</th:block>
</html>



