<!-- post/detail.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ /layout/basic-layout }">
<title>Wacdonaldo</title>


<div layout:fragment="content" id="mContent">

    <div id="main">    	
        <div id="head">                                   
            <input readonly th:value="${ post.title }" class="h-label" id="title" />                                 
            <input readonly th:value="${ post.author }" class="h-label" />                                     
            <input readonly th:value="${ post.kind }" class="h-label" />
        </div>        
        <div id="c-label">
            <p class="b-label"></p>
        </div>
        <div class="btn">
	        <button id="update">수정하기</button>
	        <button id="delete">삭제하기</button>
        </div>            
    </div>

</div>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/postDetail.css}">
</th:block>
<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script th:inline="javascript">
    	const contentP = [[ ${ post.content } ]];
    	document.querySelector('.b-label').innerHTML=contentP;
    </script>
</th:block>
</html>



