<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/basic-layout.html }">

<div layout:fragment="content">
    <div>
        <h1>회원 가입 페이지</h1>
    </div>
    <div>
        <form method = "post">
            <div>
                <label for="userName">아이디</label>
                <input type="text" id = "userName" name ="userName" autofocus required>
            </div>
            <div  id="idok" style="display: none">
                <p >사용 가능한 아이디입니다.</p>
            </div>
            <div id="idnok" style="display: none">
                <p >사용이 불가능한 아이디입니다.</p>
            </div>
            <div>
                <label for="userPassword">비밀번호</label>
                <input type = "password" id ="userPassword" name = "userPassword" required>
            </div>
            <div>
                <label for="userPasswordCheck">비밀번호 확인</label>
                <input type = "password" id ="userPasswordCheck" name = "userPasswordCheck" required>
            </div>
            <div  id="pok" style="display: none">
                <p >비밀번호가 확인 되었습니다.</p>
            </div>
            <div  id="pnok" style="display: none">
                <p>비밀번호가 서로 다릅니다.</p>
             </div>
            <div>
                <label for="age">나이</label>
                <input type="number" id = "age" name ="age" required >
            </div>
            <div>
                <label for ="address">주소</label>
                <input type="text" id = "address" name ="address" required readonly>
                <button type="button" id="btnAddress">주소 찾기</button>
            </div>
            <div>
                <label for ="address2">상세 주소</label>
                <input type="text" id = "address2" name ="address2" required>
            </div>
            <div>
                <label for="email">이메일</label> 
                <input type="email" id="email" name="email"  required/>
            </div>
            <div>
                <label for="phone">휴대폰</label> 
                <input type="text" id="phone" name="phone"  required/>
            </div>
            <div>
                <label for="gender" id="gender">성별</label>
                <select name="gender" id="selectGender">
                    <option selected>선택</option>
                    <option value="남자">남자</option>
                    <option value="여자">여자</option>
                </select>
            </div>
            <div>
                <input type="submit" id=btnCreate value="회원가입" disabled="disabled" />
            </div>
        </form>
    </div>
</div>

<th:block layout:fragment="script" th:inline="javaScript">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:src=" @{/script/userSignUp.js}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</th:block>
</html>