<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/basic-layout.html }">

<head>
<title>Wacdonaldo</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/signIn.css}">
</th:block>

</head>

<div layout:fragment="content">

    <div class = "signIn_head">
        <h1>로그인 페이지</h1> 
    </div>

    <div class = "signIn_panel">
        <section>
            <form method="post" id="formSignIn">
                <div class = "inputs">
                    <input class="input_text" type = "text" id = "userName" placeholder="아이디를 입력하세요" name="username">
                </div>
                <div class = "inputs">
                    <input class="input_text" type = "password" id = "userPassword" placeholder="비밀번호를 입력하세요" name="password">
                </div>
                <div class = "buttons">
                    <input class = "button" type="submit" value="로그인" id="btnSignIn">                
                </div>
            </form>
                <div class = "buttons"> 
                    <button class = "button" type="button" id="btnSignUp" th:onclick="'location.href=\'' + @{/user/signUp} + '\''">회원가입</button>        
                </div>
            <div class = "signIn" id="signInErr" style="display: none">
                <p>아이디 혹은 비밀번호가 틀렸습니다.</p>
            </div>
            
        </section>
    </div>
    
</div>
<th:block layout:fragment="script" th:inline="javaScript">

<script th:src=" @{/script/userSignIn.js}"></script>
</th:block>
</html>