<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/basic-layout.html }">

<div layout:fragment="content">
    <div>
        <div>
            <h1>정보 수정 페이지</h1>
        </div>

        <div class="my-2">
            <form method="post" id="formUpdate">
                <div>
                    <label for="userId">고객 번호</label> 
                    <input type="number" id="userId" name="userId" th:value="${ user.userId }" readonly />
                </div>
                <div>
                    <label for="userName">아이디</label> 
                    <input type="text" id="userName" name="userName" th:value="${ user.userName }" readonly />
                </div>
                <div>
                    <label for="password">비밀번호</label> 
                    <input type="password" id="password" name="password" />
                </div>
                <div id="pinput" style="display: block">
                    <p>비밀번호를 입력해주세요.</p>
                </div> 
                <div id="pcheck" style="display: none">
                    <p>비밀번호가 올바르지 않습니다..</p>
                </div>      
                <div>
                    <label for="passwordCheck">비밀번호 확인</label> 
                    <input type="password" id="passwordCheck" />
                </div>
                <div  id="pok" style="display: none">
                    <p >비밀번호가 확인 되었습니다.</p>
                </div>
                <div  id="pnok" style="display: none">
                    <p>비밀번호가 서로 다릅니다.</p>
                </div>
                <div>
                    <label for="age">나이</label> 
                    <input type="number" id="age" name="age" th:value="${ user.age }">
                </div>
                <div>
                    <label for="address">주소</label> 
                    <input type="text" id="address" name="address" th:value="${ user.address }">
                </div>
                <div>
                    <label for="email">이메일</label> 
                    <input type="email" id="email" name="email" th:value="${ user.email }" />
                </div>
                <div>
                    <label for="phone">휴대폰</label> 
                    <input type="text" id="phone" name="phone" th:value="${ user.phone }" />
                </div>
                <div>
                    <label for="selectGender">성별</label> 
                    <select name="gender" id="selectGender">
                        <option selected>성별</option>
                        <option value="남자">남자</option>
                        <option value="여자">여자</option>
                    </select>
                </div>
                <div>
                    <div>
                        <button type="button" id="btnUpdate" >수정하기</button>
                    </div>
                    <div>
                        <button type="button" id="btnCancel" >뒤로가기</button>
                    </div>
                    <div>
                        <button type="button" id="btnPasswordChange" th:onclick="'location.href=\'' + @{/user/passwordChange?userId={userId} (userId = ${ user.userId })} + '\''">비밀번호 변경</button>
                    </div>
                    <div>
                        <button type="button" id="btnDeleteUser" >회원 탈퇴</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>
<!-- end content -->
<th:block layout:fragment="script" th:inline="javaScript">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:src=" @{/script/userUpdate.js}"></script>
</th:block>
</html>