<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- basic - layout
	 생성자 : 장민석 -->
<head>
<meta charset="utf-8">
<title>왁도날두</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<th:block layout:fragment="css"></th:block>
</head>
<body>
	<header class="header">    	
        <nav class="nav" id="nav">
            <a th:href="@{/}">
            	<img th:src="@{/img/logo/wacdonaldu_logo.png}" alt="왁도날드" class="logo">
            </a>
            <div class="navList" id="navList">
	            <a class="navBtn" th:href="@{/}">Home</a>
	           	<a class="navBtn" th:href="@{/store}">Store</a>
	           	<a class="navBtn" href="">Order</a>
	           	<a class="navBtn" th:href="@{/menu}">Menu</a>
	           	<a class="navBtn d-none" id="adminBtn" href="">Admin</a>
           	</div>         	
          	<div class="signList" >
          		<th:block sec:authorize="isAnonymous()">
          			<a class="signInBtn" th:href="@{user/signIn}">Login</a>
          			<a class="signUpBtn" th:href="@{user/signUp}">Sign Up</a>
          		</th:block>
          		<th:block sec:authorize="isAuthenticated()"> 
          			<a class="signOutBtn d-none" href="">Logout</a>
          			<a class="myPageBtn d-none" href="">My Page</a>
          		</th:block>
          	</div>
        </nav>
    </header> 
	<!--/* 메인 컨텐트가 삽입될 위치 */-->
	<div layout:fragment="content"></div>
	<footer class="footer">        
        <div class="footArea">
            <div class="tInfo">
                <ul class="info">
                    <li>아이티윌0410</li>
                    <li>팀장: 서범수</li>
                    <li>팀원: 김지훈,이존규, 장민석, 추지훈</li>
                    <li>TEAM SBS</li>
                </ul>
           </div>
            <div class="tLogo">
                <a href=""><img src="/img/logo/sbs.png" alt="teamSBS" class="tLogo"></a>
            </div>
        </div>
    </footer>
	<!--/* 페이지에서 사용되는 자바스크립트가 삽입될 위치 */-->
	<th:block layout:fragment="script"></th:block>
	<script th:inline="javascript">
		const loginUser = [[ ${ #authentication.name } ]];
	</script>
    <script th:src="@{/script/header.js}"></script>
</body>
</html>