<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ /layout/basic-layout }">
    
<head>
<title>Wacdonaldo</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/news.css}">
</th:block>
</head>


<div layout:fragment="content">
<!-- 개발 공간. -->

<div class="visualArea bgMenu01">
    <div class="inner">
        <h1 class="titDep1">왁도날두 프로모션</h1>
        <p class="subCopy">
        </p>
        <ul class="navPath">
            <li>
                <a href="/">home</a>
            </li>
            <li>
                <a href="/menu">menu</a>
            </li>
        </ul>
    </div>
</div>
<div id="jb-sidebar-left">


</div>

<div id="jb-sidebar-left">


</div>
<div id="jb-center">
<div class="inner">
<ul class="tabType01">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">전체보기</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">진행중</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">종료</a>
    </li>
</ul>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="#" alt="Sandwich" style="width:100%">
      <h3>이벤트1</h3>
      <p>내용</p>
    </div>
    <div class="w3-quarter">
      <img src="#" alt="Steak" style="width:100%">
      <h3>이벤트2</h3>
      <p>내용</p>
    </div>
    <div class="w3-quarter">
      <img src="#" alt="Cherries" style="width:100%">
      <h3>이벤트3</h3>
      <p>내용</p>
    </div>
    <div class="w3-quarter">
      <img src="#" alt="Pasta and Wine" style="width:100%">
      <h3>이벤트4</h3>
      <p>내용</p>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="#" alt="Popsicle" style="width:100%">
      <h3>프로모션1</h3>
      <p>내용</p>
    </div>
    <div class="w3-quarter">
      <img src="#" alt="Salmon" style="width:100%">
      <h3>프로모션2</h3>
      <p>내용</p>
    </div>
    <div class="w3-quarter">
      <img src="#" alt="Sandwich" style="width:100%">
      <h3>프로모션3</h3>
      <p>내용</p>
    </div>
    <div class="w3-quarter">
      <img src="#" alt="Croissant" style="width:100%">
      <h3>프로모션4</h3>
      <p>내용</p>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>
  
</div>


</div>     



</div>
<script layout:fragment="script" th:inline="javascript">
</script>
</html>



