<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>Spring Boot</title>
    </head>
    <body>
        <!--/* header.html 프래그먼트(HTML 조각)를 삽입 */-->
        <div th:replace="fragments/header :: header"></div>
        
        <!--/* 메인 컨텐트가 삽입될 위치 */-->
        <div layout:fragment="content"></div>
        
        <!--/* footer.html 프래그먼트(HTML 조각)를 삽입 */-->
        <div th:replace="fragments/footer :: footer"></div>
        
        <!--/* 페이지에서 사용되는 자바스크립트가 삽입될 위치 */-->
        <th:block layout:fragment="script"></th:block>
    </body>
</html>