<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>왁도날두</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/header.css">    
</head>
<body>
    <header>        
        <nav class="nav" id="nav">
            <div class="logo">
                <a href=""><img src="../static/img/logo/wacdonaldu_logo.png" alt="왁도날드" class="logo"></a>
            </div>
            <div class="navList" id="navList">
	            <div class="navBtn">
	              	<a class="menuBtn" href="">Home</a>
	           	</div>
	           	<div class="navBtn">
	              	<a class="menuBtn" href="">Menu</a>
	           	</div>
	           	<div class="navBtn">
	              	<a class="menuBtn" href="">Store</a>
	           	</div>
	           	<div class="navBtn">
	              	<a class="menuBtn" href="">Story</a>
	           	</div>
	           	<div class="navBtn" style="display:none">
	              	<a class="menuBtn" href="">Admin</a>
	           	</div>
           	</div>
          	<div class="signList" >
          		<div class="signBtn">
          			<a class="signInBtn" href="">Sign In</a>
          		</div>
          		<div class="signBtn">
          			<a class="signUpBtn" href="">Sign Up</a>
          		</div>
          	</div>
        </nav>
    </header>
    
    

    <script src="../static/script/header.js"></script>
</body>
</html>