<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ /layout/basic-layout }">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/mainPage.css}">
    <script src="https://kit.fontawesome.com/df851af08f.js" crossorigin="anonymous"></script>
</th:block>
<div layout:fragment="content">
    <div class="mainContainer">
   		<div id="banner">
   			<a href="#" class="bannerBtn prev"><i class="fa-solid fa-caret-left fa-4x"></i></a>		
		    <div class="bImg"><a href="###"><img th:src="@{/img/banner/2.jpg}" alt="배너 이미지"></a></div>
		    <a href="#" class="bannerBtn next"><i class="fa-solid fa-caret-right fa-4x"></i></a>		     
		</div>				
	</div>
</div>
<script layout:fragment="script" th:inline="javascript"></script>
</html>