<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ /layout/basic-layout }">



<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/menuCreate.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
        rel="stylesheet">
</th:block>

<title>Wacdonaldo</title>

<div layout:fragment="content">
    <div class="frontFont">
        <h1> 메뉴 등록 페이지 </h1>
    </div>
    
    
        <form id="formCreateMenu" method="post" enctype="multipart/form-data">
        <div class="Container">
            <div>
                <div class="div_label">
                    <label for="menuName">메뉴 이름</label> 
                </div>
                <br/>
                <input id="menuName" type="text" name="menuName" autofocus/>
            </div>
            
            <br/>
            
            <div>
                <div class="div_label">
                    <label for="menuEnName" class="form-label">메뉴 이름(영어)</label> 
                </div>
                <br/>
                <input id="menuEnName" class="form-control" type="text" name="menuEnName" autofocus/>
            </div>
            
            <br/>
            
            <div>
                <div class="div_label">
                    <label for="kind" class="form-label">분류</label>
                </div>
                <br/>
                <select id="kind" class="buttons form-control" name = "kind">
                    <option value = "1">버거</option>
                    <option value = "2">세트</option>
                    <option value = "3">사이드</option>
                    <option value = "4">음료</option>
                    <option value = "5">왁모닝</option>
                    <option value = "6">왁모닝 세트</option>
                </select>
                <br/>
            </div>
            <br/>
        <div class="div_label">
        
            <label for="price">가격</label>
            <br/>
            <input id="price" class="inputs" type="text" name="price"/>
        </div>
        <br/>
        <div class="div_label">
            <label for="content" class="inputs">내용</label>
            <br/><br/>
            <textarea id="content" class="inputs" name="content" ></textarea>
        </div>
        <br/><br/>
        
        <div class="div_label">
            <label for="image" class="form-label">메뉴 이미지</label>
            <br/><br/>
            
            <div class="imgDiv">
                <div class="imageArea">
                    <img id="menuImage" th:src="@{ /img/logo/wac.jpg }" style="width:240px; height: 240px; background-color: white;"/>
                </div>
                <input type="file" id="image" class="buttons inputs form-form form-create form-image" name="image" />
            </div>
            <br/><br/>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="div_label" th:if="${ #authentication.name } == admin">
            <a class="buttons" id="btnSubmit">생성하기!</a>
        </div>
    </div> <!-- Container -->
</form>


</div>



<th:block layout:fragment="script">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{ /script/menuCreate.js }"></script>
</th:block>
</html>



