<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ /layout/basic-layout }">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/menuModify.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
        rel="stylesheet">
    
</th:block>

<div layout:fragment="content">
    <div class="frontFont">
        <h1> 메뉴 수정 페이지 </h1>
    </div>
    <form id="formModify" method="post" enctype="multipart/form-data">
    <div class="Container">
            <div>
                <div class="div_label">
                    <label for="menuId" class="form-label">메뉴 번호</label>
                </div>
                <br/>
                <input id="menuId" name="menuId" class="inputs" th:value="${ menu.menuId }" readonly />
            </div>
            
            <br/>

            <div>
                <div class="div_label">
                    <label for="menuName" class="form-label">메뉴 이름</label>
                </div>                
                <br/>
                <input id="menuName" name="menuName" class="inputs" th:value="${ menu.menuName }" autofocus />
            </div>
            
            <br/>
            
            <div>
                <div class="div_label">
                    <label for="menuEnName" class="form-label">메뉴 이름(영어)</label>
                </div>
                <br/>
                <input id="menuEnName" name="menuEnName" class="inputs" th:value="${ menu.menuEnName }" />
            </div>
            
            <br/>
            
            <div>
                <div class="div_label">
                    <label for="kind" class="form-label">분류</label>
                </div>
                <br/>
                <input id="kind" name="kind" class="inputs" th:value="${ menu.kind }" readonly />
            </div>
            
            <br/>            
            
            <div>
                <div class="div_label">
                    <label for="price" class="form-label">가격</label>
                </div>
                <br/>
                <input id="price" name="price" class="inputs" th:value="${ menu.price }"/>
            </div>
            
            <br/>
            
            <div>
                <div class="div_label">
                    <label for="content" class="form-label inputs">내용</label>
                    <br/>
                    <textarea id="content" name="content" class="inputs" th:text="${ menu.content }"></textarea>
                </div>
                <br/>
            </div>
            
            <div>
                <div class="div_label">
                    <label for="image" class="form-label inputs">메뉴 이미지</label>
                    <br/>
                    <div class="imgDiv">
                        <div class="imageArea">
                            <img id="menuImage" th:src="@{ /image/display?fid={fid} (fid = ${menu.image})}" style="width:240px; height: 240px; background-color: white;"/>
                    </div>
                        <input type="file" id="image" class="buttons inputs form-form form-create form-image" name="image" />
                    </div>                    
                </div>
            </div>
            
            <br/>
            <br/>
            <br/>
            <div class="div_label">
                <a class="buttons" id="btnDelete">삭제</a>
                <br/><br/>
                <a class="buttons" id="btnUpdate">수정 완료</a>
            </div>
    

</div> <!-- Container -->
</form>
</div>  <!-- layout:fragment -->



<th:block layout:fragment="script" th:inline="javaScript">
    <script th:src="@{ /script/menuModify.js }"></script>
<script>



const formModify = document.querySelector('#formModify');

//삭제 이벤트 리스너.
const btnDelete = document.querySelector('#btnDelete');
btnDelete.addEventListener('click', function () {
const result = confirm('정말 삭제하시겠습니까?');
if (result) {
    formModify.action = '/menu/delete';
    formModify.method = 'post';
    formModify.submit();
}
});

//수정 이벤트 리스너.
const btnUpdate = document.querySelector('#btnUpdate');
btnUpdate.addEventListener('click', function () {
   const menuName = document.querySelector('#menuName').value;
   const price = document.querySelector('#price').value;
   if (menuName == '' || price == '') {
       alert('제목과 내용은 반드시 입력.');
       return;
   }
   
   const result = confirm('정말 수정하시겠습니까?');
   if (result) {
       formModify.action = '/menu/update';
       formModify.method = 'post';
       formModify.submit();
   }
});

let img = document.querySelector('input#image'); 
        console.log(img);
        
        function readImage(input) {
               // 인풋 태그에 파일이 있는 경우
               if(input.files && input.files[0]) {
                   // 이미지 파일인지 검사 (생략)
                   // FileReader 인스턴스 생성
                   const reader = new FileReader();
                   // 이미지가 로드가 된 경우
                   reader.onload = e => {
                       const previewImage = document.querySelector('img#menuImage');
                       previewImage.setAttribute('src', e.target.result);
                   }
                   // reader가 이미지 읽도록 하기
                   reader.readAsDataURL(input.files[0]);
               }
           }
           // input file에 change 이벤트 부여

           img.addEventListener("change", e => {
               console.log('change');
               readImage(e.target);
           })

</script>

    <script>
/* const besideMenus = [[${ besideMenu }]]; */
</script>
    
</th:block>

</html>