<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/basic-layout.html }">

<title>Wacdonaldo</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<th:block layout:fragment="css">

    <link rel="stylesheet" th:href="@{/css/cart.css}">
</th:block>

<div layout:fragment="content">


    <!-- 로그인 하지 않은 유저에게 보여지는 div -->
    <th:block sec:authorize="isAnonymous()">
        <div class="err" id="ifNone" style="display: block">
            <h1>비정상적인 접근입니다.</h1>
            <h1>로그인 혹은 회원가입 후 이용하세요</h1>

            <button class="btnSignIn" type="button" id="btnSignIn"
                th:onclick="'location.href=\'' + @{/user/signIn} + '\''">Login</button>
            <button class="btnCreate" type="button" id="btnSignUp"
                th:onclick="'location.href=\'' + @{/user/signUp} + '\''">Sign
                Up</button>

        </div>
    </th:block>

    <th:block sec:authorize="isAuthenticated()">

        <!-- 로그인 정보가 다를 경우 보여지는 div -->
        <div class="err" id="ifDifferent" style="display: none">
            <h1>비정상적인 접근입니다.</h1>

            <button class="btnMain" type="button" id="btnMain"
                th:onclick="'location.href=\'' + @{/} + '\''">Main</button>
            <button class="btnMyCart" type="button" id="btnMyCart"
                th:onclick="'location.href=\'' + @{ /cart/cart?userName={userName} (userName = ${ #authentication.name }) } + '\''">My
                Cart</button>

        </div>

        <!-- 로그인 정보와 회원 정보가 일치하는 경우 보여지는 div -->

        <div id="ifSame" style="display: none">
            <div class="cart_head">
                <h1>Cart page</h1>
            </div>

            <div class="btns">
                <div>
                    <button class="btn" type="button" id="btnOrder">주문
                        내역</button>
                </div>
                <div>
                    <button class="btn" type="button" id="btnCart">장바구니</button>
                </div>
            </div>

            <div class="cart_panel" style="display: none">
                <h1>cart panel</h1>
            </div>

            <div class="order_panel" style="display: none">
                <h1>order panel</h1>
            </div>

        </div>
</div>
<th:block layout:fragment="script" th:inline="javaScript">
    <script>
             const userName = [[ ${ user.userName }]];
</script>
    <script th:src="@{ /script/cart.js }"></script>
</th:block>
</html>