@charset "UTF-8";

.cart_head {
    vertical-align: top;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 25px;
}

.cart_panel {
    border: 1px solid gray;
    margin: 16px;
    padding: 20px 20px;
    text-align: inherit;
}

.inputs {
    border: solid 1px green;
    width: 100%;
    padding: 14px 17px 13px;
    box-sizing: border-box;
    align-content: center;
}

.div_label {
    
    padding: 10px 10px;  
    width: 20%;
}

.btnMain {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: gray;
    color: white;
    box-sizing: border-box;
    font: inherit;
}

.btnMain:hover {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px gray;
    background-color: white;
    color: gray;
    box-sizing: border-box;
    font: inherit;
}

.btnMyCart {
    margin: 10px;
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: green;
    color: white;
    box-sizing: border-box;
    font: inherit;
    align-content: center;
}

.btnMyCart:hover {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px green;
    background-color: white;
    color: green;
    box-sizing: border-box;
    font: inherit;
}

.btnCreate {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: orange;
    color: white;
    box-sizing: border-box;
    font: inherit;
}

.btnCreate:hover {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px orange;
    background-color: white;
    color: orange;
    box-sizing: border-box;
    font: inherit;
}

.btnSignIn{
    margin: 10px;
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: green;
    color: white;
    box-sizing: border-box;
    font: inherit;
    align-content: center;
}

.btnSignIn:hover {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px green;
    background-color: white;
    color: green;
    box-sizing: border-box;
    font: inherit;
}


.select_options {
    font-size: 15px;
}

.check {
    padding: 10px 10px;
    color: green;
    text-align: center;
}

.err {
    color: red;
    padding: 10px 10px;
    text-align: center;
    font-size: 20px;
}
