@charset "UTF-8";

<<<<<<< HEAD
footer * {
=======
.footer * {
>>>>>>> branch 'master' of https://github.com/TTimotti/project_wac.git
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
<<<<<<< HEAD
    background-color: #292929!important;
    }
=======
    background-color: #292929;
}
>>>>>>> branch 'master' of https://github.com/TTimotti/project_wac.git
        
.footArea {
    display:flex;
    justify-content: space-around;
    padding: 45px 0 55px;
}
        
.tLogo {
    right: 20px;
    width: 150px;
    height: 120px;
    border: 1px white;
    border-radius: 12px;   
}

.tInfo {
    width: 450px;
    display: inline-block;
}

.info {
    overflow:hidden;
    white-space:nowrap;
    font-weight: 400;
    list-style: none;
    opacity: .6;
}

@media(max-width:600px){
    .tLogo {
        display: none;           
    }
}