@charset "UTF-8";

.footer {
	margin: 1vh 0px ;
	padding: 1vh 0px ;
}


.footer * {
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
    background-color: #292929!important;
    clear: both;
}    

.footArea {
    display:flex;
    justify-content: space-around;
    padding: 45px 0 55px;
    margin: 1vh 0px ;
}
        
.tLogo {
    right: 20px;
    width: 150px;
    height: 120px;
    border: 1px white;
    border-radius: 12px;   
}

.tInfo {
    width: 450px;
    display: inline-block;
}

.info {
    overflow:hidden;
    white-space:nowrap;
    font-weight: 400;
    list-style: none;
    opacity: .6;
}

@media(max-width:600px){
    .tLogo {
        display: none;           
    }
}