@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

/** mainPage.css : 김지훈 **/
.mainContainer {
	width: 100vw;
}

/* banner */
#banner { 
	height: 540px;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bImg {
	z-index: 1;
}

.bImg img{
	height: 540px;
	width: 100vw;
	margin-bottom: auto;
}

.bannerBtn {
	text-align: center;
	line-height: 150px;
	width: 90px;
	height: 90px;
	z-index: 2;
}

.prev {
	margin-right: -12vw;

}

.next {
	margin-left: -12vw;
}

.bannerBtn i {
	align-self: center;
	color:rgba(200, 200, 200, 0.5);
}
