@charset "UTF-8";

.visualArea.bgMenu01 {
    background:
        url(https://www.mcdonalds.co.kr/uploadFolder/images/whats/bg_visual_whats02.jpg)
        50% 50% no-repeat;
}

.visualArea {
    display: flex;
    position: relative;
    min-height: 220px;
    padding: 10px 0;
    color: #292929;
    text-align: left;
}

.inner {
    position: relative;
    width: 1168px;
    margin: 0 auto;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
    fieldset, input, select, textarea, p, blockquote, th, td, button {
    margin: 0;
    padding: 0;
}

body, input, select, textarea, pre {
    font-family: SpeedeeK, Malgun Gothic, '맑은 고딕', Dotum, '돋움', Arial,
        sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.9;
}

* {
    -webkit-text-size-adjust: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet
sub {
    vertical-align: sub;
    font-size: smaller;
}

.visualArea .subCopy {
    min-height: 34px;
    margin-top: 20px;
    font-size: 18px;
}

.visualArea .navPath {
    position: absolute;
    bottom: 0;
    left: 0;
}

.tabType01 {
    margin: 0 -40px 60px;
    text-align: center;
}

.wacMenu {
    position: relative;
}

.tabType01 li {
    display: inline-block;
    margin: 0 40px;
    vertical-align: top;
}

.btnMore .more {
    display: inline-block;
    width: 90px;
    height: 90px;
    overflow: hidden;
    vertical-align: top;
    text-indent: -9999px;
    background:
        url(https://www.mcdonalds.co.kr/kor/images/common/btn_more.png)
        0 0 no-repeat;
}

button, input[type='button'], input[type='submit'], input[type='reset']
    {
    cursor: pointer;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    border: 0;
    vertical-align: middle;
    background: none;
}

.posts li a {
    height: 100%;
    font-size:20px;
    padding: 1px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #f8f8f8;
    background: #f8f8f8;
}

#postId, #postTitle, #createdTime {
	padding-top: 10px;
}

#postId, #createdTime {
	color: gray;
}

#postId{
	margin-left: 20px;
}

#createdTime{
	margin-right: 20px;
}

#postTitle {
	color: black;
}

.notice {
	display: flex;
	justify-content:space-between;
	flex-direction: row;
	height: 65px;
}

.notice-2 {
	height: 65px;
}

.notice:hover {
	background-color: orange;
}

.posts li a img:hover{
	border: 5px solid orange;
	border-radius: 5px;
}

.posts {
	border-top: 3px solid;
    border-bottom: 3px solid;
    padding-top: 20px;
    padding-bottom: 15px;
}

ul, ol, li {
    list-style: none outside;
}

.postCreate_head {
    vertical-align: top;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 25px;
}

.postCreate_panel {
    border: 1px solid gray;
    margin: 16px;
    padding: 20px 20px;
    text-align: inherit;
}

.inputs {
    border: solid 1px green;
    width: 100%;
    padding: 14px 17px 13px;
    box-sizing: border-box;
    align-content: center;
}

.div_label {
    padding: 10px 10px;
    width: 20%;
}

.div_btn {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 10px;
    text-align: center;
}

#btnSubmit {
    width: 50%;
    height: 70px;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: green;
    color: white;
    box-sizing: border-box;
    font-size: 16px;
}

#btnSubmit:hover {
    width: 50%;
    height: 70px;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px green;
    background-color: white;
    color: green;
    box-sizing: border-box;
    font-size: 20px;
}

.post_img {
	margin-bottom:25px;
}

.tabType01 .q:hover {
    color: #db0007;
    font-weight: 600;
    border-bottom: 1px solid #db0007;
}

.tabType01 .q {
    display: block;
    height: 40px;
    font-size: 20px;
    line-height: 39px;
    display: inline-block;
}