@charset "UTF-8";

/** 
생성자 장민석.
**/
.storeContainer {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.storeContainer2 {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.storebanner {
	background-color: lightgray;
	padding: 5px;
	background-image: url('../img/storelogo.png');
	background-size: 100% 250px;
}

.inner {
	width: 1168;
	height: 130;
	margin: 60px 218px;
	padding: 20px;
	padding-left: 50px;
	background-color: transparent;
}

.storeFont {
	color: white;
	font-size: 50px;
	background-color: transparent;
}

.navPath{
	list-style: none;
	padding: 0px;
	margin-top: 30px;
}

.navPath li+li:before {
	content: '';
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0 14px 0 10px;
	vertical-align: middle;
	border-radius: 100%;
	background: #f5bd43;
}

.navPath li {
	margin: 0px;
	float: left;
	background-color: transparent;
}

a {
	color: white;
	font-size: 15px;
	background-color: transparent;
}

#map {
	margin: 5px;
	height: 800px;
	width: 1350px;
	border-radius: 5px 5px 5px 5px;
	display: inline-block
}

.storePlace {
	margin: 5px;
	border-radius: 5px 5px 5px 5px;
	display: inline-block
}

table {
	width: 1350px;
	border-top: 3px solid #444444;
	border-bottom: 3px solid #444444;
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid #444444;
	padding: 30px;
	font-family: SpeedeeK, Malgun Gothic, '맑은 고딕', Dotum, '돋움', Arial,
		sans-serif;
}
th {
	font-weight: 900;
}
.frontFont {
	margin : 20px;
	padding : 20px;
	font-size: 50px;
	font-family: 'Do Hyeon', sans-serif;
	font-weight: bold;
	text-align: center;
	border-bottom: 3px solid black;
}
.customoverlay {
	position: relative;
	bottom: 85px;
	border-radius: 6px;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ddd;
	float: left;
}

.customoverlay:nth-of-type(n) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.customoverlay a {
	display: block;
	text-decoration: none;
	color: #000;
	text-align: center;
	border-radius: 6px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	background: #d95050;
	background: #d95050
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png)
		no-repeat right 14px center;
}

.customoverlay .title {
	display: block;
	text-align: center;
	background: #fff;
	margin-right: 35px;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: bold;
}

.customoverlay:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: -12px;
	width: 22px;
	height: 12px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}
.storeCreate {
	padding: 20px;
	font-size: 30px;
	font-weight: bolder;
	background-color: #FFD126;
	border: none;
	border-radius: 5px 5px 5px 5px;
	font-family: 'Do Hyeon', sans-serif;
	cursor: pointer;
}
.storeCreate:hover {
	opacity: 0.5;
}

@media ( max-width : 792px) {
	#map, table {
		width: 450px;
		height: 350px;
		text-align: center;
		font-size: 5px;
	}
}