@charset "UTF-8";

.updateHead {
    margin : 20px;
    padding : 20px;
    font-size: 30px;
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    border-bottom: 3px solid black;
}


.updatePanel {
    width: 1100px;
    text-align: left;
    padding: 50px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
    background-color: #f8f8f8;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Do Hyeon', sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.btn {
    width: 25%;
    height: 70px;
    float: left;
    padding: 10px;
    font-size: 30px;
    background-color: #FFD126;
    border: none;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Do Hyeon', sans-serif;
    cursor: pointer;    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#btnAddress{
    
    padding: 10px;
    font-size: 30px;
    background-color: #FFD126;
    border: none;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Do Hyeon', sans-serif;
    cursor: pointer;
    margin-right: 110px;    
    margin-left:270px;
    width: 560px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.inputs {
    width: 550px;
    height: 50px;
    font-size: 30px;
    margin-left:280px;
}

.divLabel {
    font-size: 30px;
    margin-left:280px;
    padding: 20px;
}

.btns {
    padding: 10px 10px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}


#btnUpdate {
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: orange;
    color: white;
    box-sizing: border-box;
    display: inline-block;
}

#btnUpdate:hover {
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px orange;
    background-color: white;
    color: orange;
    box-sizing: border-box;
    display: inline-block;
}

#btnCancel {
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: gray;
    color: white;
    box-sizing: border-box;
    display: inline-block;
}

#btnCancel:hover {
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px gray;
    background-color: white;
    color: gray;
    box-sizing: border-box;
    display: inline-block;
}

#btnPasswordChange {
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: green;
    color: white;
    box-sizing: border-box;
    display: inline-block;
}

#btnPasswordChange:hover {
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px green;
    background-color: white;
    color: green;
    box-sizing: border-box;
    display: inline-block;
}

#btnDeleteUser {
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: tomato;
    color: white;
    box-sizing: border-box;
    display: inline-block;
}

#btnDeleteUser:hover {
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px tomato;
    background-color: white;
    color: tomato;
    box-sizing: border-box;
    display: inline-block;
}

.btnMain {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: gray;
    color: white;
    box-sizing: border-box;
}

.btnMain:hover {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px gray;
    background-color: white;
    color: gray;
    box-sizing: border-box;
}

.btnMyPage {
    margin: 10px;
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: green;
    color: white;
    box-sizing: border-box;
    align-content: center;
}

.btnMyPage:hover {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px green;
    background-color: white;
    color: green;
    box-sizing: border-box;
}

.btnCreate {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: orange;
    color: white;
    box-sizing: border-box;
}

.btnCreate:hover {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px orange;
    background-color: white;
    color: orange;
    box-sizing: border-box;
}

.btnSignIn {
    margin: 10px;
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: green;
    color: white;
    box-sizing: border-box;
    align-content: center;
}

.btnSignIn:hover {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px green;
    background-color: white;
    color: green;
    box-sizing: border-box;
}

.selectOptions {
    font-size: 12px;
}

.check {
    padding: 10px 10px;
    color: green;
    text-align: center;
}

.err {
    color: red;
    padding: 10px 10px;
    text-align: center;
}
