@charset "UTF-8";

.updateHead {
    vertical-align: top;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 25px;
}


.updatePanel {
    border: 1px solid gray;
    margin: 16px;
    padding: 20px 20px;
    text-align: inherit;
    width: 600px;
}

.inputs#address {
    border: solid 1px green;
    width: 80%;
    padding: 14px 17px 13px;
    box-sizing: border-box;
    align-content: center;
}

.button#btnAddress {
    width: 19%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: gray;
    color: white;
    box-sizing: border-box;
    font: inherit;
}

.button#btnAddress:hover {
    width: 19%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px gray;
    background-color: white;
    color: gray;
    box-sizing: border-box;
    font: inherit;
}

.inputs {
    border: solid 1px green;
    width: 100%;
    padding: 14px 17px 13px;
    box-sizing: border-box;
    align-content: center;
}

.divLabel {
    padding: 10px 10px;
    width: 20%;
}

.btns {
    padding: 10px 10px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.btn {
    width: 25%;
    height: 70px;
    float: left;
}

#btnUpdate {
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: orange;
    color: white;
    box-sizing: border-box;
    font: inherit;
    display: inline-block;
}

#btnUpdate:hover {
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px orange;
    background-color: white;
    color: orange;
    box-sizing: border-box;
    font: inherit;
    display: inline-block;
}

#btnCancel {
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: gray;
    color: white;
    box-sizing: border-box;
    font: inherit;
    display: inline-block;
}

#btnCancel:hover {
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px gray;
    background-color: white;
    color: gray;
    box-sizing: border-box;
    font: inherit;
    display: inline-block;
}

#btnPasswordChange {
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: green;
    color: white;
    box-sizing: border-box;
    font: inherit;
    display: inline-block;
}

#btnPasswordChange:hover {
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px green;
    background-color: white;
    color: green;
    box-sizing: border-box;
    font: inherit;
    display: inline-block;
}

#btnDeleteUser {
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: tomato;
    color: white;
    box-sizing: border-box;
    font: inherit;
    display: inline-block;
}

#btnDeleteUser:hover {
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px tomato;
    background-color: white;
    color: tomato;
    box-sizing: border-box;
    font: inherit;
    display: inline-block;
}

.btnMain {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: gray;
    color: white;
    box-sizing: border-box;
    font: inherit;
}

.btnMain:hover {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px gray;
    background-color: white;
    color: gray;
    box-sizing: border-box;
    font: inherit;
}

.btnMyPage {
    margin: 10px;
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: green;
    color: white;
    box-sizing: border-box;
    font: inherit;
    align-content: center;
}

.btnMyPage:hover {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px green;
    background-color: white;
    color: green;
    box-sizing: border-box;
    font: inherit;
}

.btnCreate {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: orange;
    color: white;
    box-sizing: border-box;
    font: inherit;
}

.btnCreate:hover {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px orange;
    background-color: white;
    color: orange;
    box-sizing: border-box;
    font: inherit;
}

.btnSignIn {
    margin: 10px;
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px white;
    background-color: green;
    color: white;
    box-sizing: border-box;
    font: inherit;
    align-content: center;
}

.btnSignIn:hover {
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px green;
    background-color: white;
    color: green;
    box-sizing: border-box;
    font: inherit;
}

.selectOptions {
    font-size: 12px;
}

.check {
    padding: 10px 10px;
    color: green;
    text-align: center;
}

.err {
    color: red;
    padding: 10px 10px;
    text-align: center;
}
